<div id="main-container">
  <div class="col-xs-3">    
    <div class="module bevy-applicant-list" ng-init="getAllItems()">
      <h2>Applicants</h2>
      <div class="module text-center" ng-show="no_messages">
        No Messages
      </div>
      
      <div ng-repeat="user in applicantsList">
        <a ng-href="#/myApplicants/{{user.id}}">
          <b><span ng-bind="user.name"></span></b><br />
          <span ng-bind="user.job_position"></span>
          <p ng-bind="user.message"></p>
        </a>
        <hr />
      </div>
      
    </div>

  </div>

  <div class="col-xs-7 bevy-applicant-messages">
    <div ui-view></div>
    <div class="module text-center" ng-show="no_messages">
      No Applicants yet.
    </div>
  </div>

  <div class="col-xs-2">
    <h2>Lists</h2>
    <ul data-spy="affix" data-offset-top="150" data-offset-bottom="100">
      <li><a href="#" >Starred</a></li>
      <li><a href="#" >Ignored</a></li>
      <li><a href="#" >Accepted</a></li>
      <li><a href="#" >Messaged</a></li>
      <li><a href="#" >Add new list</a></li>
    </ul>
  </div>   
</div>
