<div class="container" ng-cloak>
  
  <ul class="nav nav-tabs nav-justified" role="tablist">
	  <li class="active"><a href="#">Manage Employers</a></li>
	  <li><a href="#">My Job Posts</a></li>
	  <li><a href="#">Search Candidates</a></li>
	  <li><a href="#">My Profile</a></li>
	  <li><a href="#">Analytics</a></li>
	</ul>

  <div ui-view>
  </div>
  <!-- <div ng-include src="'acts_as_talented/templates/test.html'"></div>	 -->

</div>