dashboard index page

<div class="container" ng-cloak>
  
  The grid will be injected here
  <div ui-view>
  </div>

  <!-- <div ng-include src="'acts_as_talented/templates/test.html'"></div>	 -->

</div>