<div class="container" ng-cloak>

  <span ng-init=""></span>

  <ul ng-controller="TabsController" class="nav nav-tabs nav-justified" role="tablist">
	  <!-- Tab1 -->
    <li ng-class="tabClass['Employers']" ng-click="makeActiveTab('Employers')">
      <a ui-sref="Employers">Manage Employers</a>
    </li>
    
    <!-- Tab2 -->
	  <li ng-class="tabClass['myJobs']" ng-click="makeActiveTab('myJobs')">
      <a ui-sref="myJobs">My Job Posts</a>
    </li>

    <!-- Tab3 -->
	  <li ng-class="tabClass['searchCandidate']" ng-click="makeActiveTab('searchCandidate')">
      <a ui-sref="searchCandidate">Search Candidates</a>
    </li>

    <!-- Tab4 -->
	  <li ng-class="tabClass['myProfile']" ng-click="makeActiveTab('myProfile')">
      <a ui-sref="myProfile">My Profile</a>
    </li>

    <!-- Tab5 -->
	  <li ng-class="tabClass['myApplicants.list']" ng-click="makeActiveTab('myApplicants.list')">
      <a ui-sref="myApplicants.list">Applicants</a>
    </li>
	</ul>

  <div ui-view>
  </div>
  <!-- <div ng-include src="'acts_as_talented/templates/test.html'"></div>	 -->
</div>