/*registration and login page*/
.login{
	margin: 4em auto;
  max-width: 20em;
	.sign_in {
		margin: 4% 0;
		.caption-text{
			color: #9e9e9e;
			margin: 10px 5px; 
		}
	}
}

.login-box {
	h2 {
		margin: .25em 0 .5em 
	}
}