$navbar-default-bg: #333;
$navbar-default-link-active-color: white;
$navbar-default-link-hover-color: #da521e;

$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav > li > a {padding-top:7px !important; padding-bottom:7px !important;}
.navbar {min-height:30px !important; border-radius: 0px !important;}

