%serif {
	font-family: 'Cinzel', 'Georgia', serif;
	line-height: 1.2;
	text-transform: lowercase;
}

%sans {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight: 300;
	line-height: 1.4;
}

%font-size-s {
	font-size: 1.2em;
}

body, input, select {
	@extend %sans;
	@extend %font-size-s;
	color: #555;
	@media(min-width: 30em){
    font-size: 1.2em;
	}
}

p, pre {
  margin: 0 0 0.5em;
}


h1, h2, h3, h4, h5, h6 {
	@extend %serif;
}

h1 { // the only time h1 is used is in the headers
	font-size: 2.5em;
	font-weight: 500;
	position: relative;
	z-index: 2;
	padding: 2em 0;
	margin: 0;
	text-align: center;
	@media (min-height: 30em){
		padding: 3em 0;
	}
	@media (min-height: 60em){
		padding: 4em 0;
	}
}

h2 {
	display: inline-block;
  font-size: 1.5em;
  color: #989898;
  margin: 0;
}

h3 {
    font-size: 1em;
    color: #989898;
    margin: 0 0 .5em;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}