<!DOCTYPE html>
<html>
<head>
  <title>ActsAsTalented</title>
  <%= stylesheet_link_tag    "acts_as_talented/application", media: "all" %>
  <%= javascript_include_tag "acts_as_talented/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
