<h1>Employers </h1>

<div class="row">
  <!-- <ul ng-controller="MyController">
    <li dir-paginate="meal in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage">{{ meal }}</li>
  </ul>

  <div ng-controller="OtherController" class="other-controller">
    <small>this is in "OtherController"</small>
    <div class="text-center">
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="acts_as_talented/templates/pagination/dirPaginationTpl.html"></dir-pagination-controls>
    </div>
  </div> -->

  <div crud-grid
    server-url='/acts_as_talented/api/v1/employers'
    columns-definition='[
     {
      "binding"       :"id",
      "type"          :"text",
      "required"      :"true",
      "hidden"        :"true"
     },
     {
      "binding"       :"email",
      "header"        :"Email",
      "type"          :"text",
      "required"      :"true"
     },
     {
      "binding"       :"name",
      "header"        :"Name",
      "type"          :"text",
      "required"      :"true"
     },
     {
      "binding"       :"contact_number",
      "header"        :"Contact Number",
      "type"          :"text",
      "required"      :"true"
     },
     {
      "binding"       :"created_at",
      "header"        :"Created Date",
      "type"          :"date",
      "required"      :"false"
     }
    ]'>
  </div>
</div>

<!-- ,
 {
  "binding"       :"description",
  "header"        :"Description",
  "type"          :"text",
  "required"      :"false"
 },
 {
  "binding"       :"expire",
  "header"        :"Expire Date",
  "type"          :"date",
  "required"      :"false"
 } -->