<h1>test </h1>
<div class="row">
  <div crud-grid
    server-url='acts_as_talented/api/v1/employers'
    columns-definition='[
     {
      "binding"       :"id",
      "type"          :"text",
      "required"      :"true",
      "hidden"        :"true"
     },
     {
      "binding"       :"name",
      "header"        :"Name",
      "type"          :"text",
      "required"      :"true"
     }
    ]'>
  </div>
</div>


<!-- ,
 {
  "binding"       :"description",
  "header"        :"Description",
  "type"          :"text",
  "required"      :"false"
 },
 {
  "binding"       :"expire",
  "header"        :"Expire Date",
  "type"          :"date",
  "required"      :"false"
 } -->