<style type="text/css">
  .bevy-job-form input {
    max-width: 58%;
  }
  .bevy-job-form button {
    vertical-align: top;
    width: 20%;
  }
  .bevy-filter-list {
    width: 100%;
    clear: both;
    padding: 0.5em;
    padding-right: 2%;
    border-right: 1px solid #DADADA;
  }
  .bevy-applicant-list {
    width: 35%;
    float: left;
    padding: 0.5em;
    padding-right: 2%;
    border-right: 1px solid #DADADA;
  }
  .bevy-applicant-list h2 {
    font-size: 1.2em;
    color: #DA521E;
    display: block;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
  .bevy-applicant-list .heading {
    text-transform: capitalize;
    display: block;
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }
  .bevy-applicant-list select, .bevy-applicant-list input {
    margin-bottom: 1.5em;
    width: 100%;
  }

  .bevy-applicant-messages {
    width: 60%;
    margin: 0% 1%;
    float: left;
    padding-left: 2em;
  }
  .bevy-applicant-messages .pagination {
    padding: 1em;
    text-align: center;
    width: 100%;
    clear: both;
  }
  .bevy-applicant-messages .pagination span, .bevy-applicant-messages .pagination a {
    padding: 0.25em;
    color: #DA521E;
  }
  .bevy-applicant-messages .pagination a.active {
    color: #000;
  }

  .bevy-message-card {
    padding: 1em 0;
    border-bottom: 1px solid #eee;
  }
  .bevy-message-card .heading{
    width: 50%;
    float: left;
  }
  .bevy-message-card div.heading:nth-child(2){
    text-align: right;
  }
  .bevy-message-card div.caption{
    width: 100%;
    clear: both;
    padding: 10px 0px;
  }
  .bevy-message-card .body-desc{
    width: 80%; 
    float: left; 
    margin: 10px 0px; 
    padding: 0px 10px 0px 0px;
  }
  .bevy-message-card .body-apply{
    width: 20%; 
    float: left;
    text-align: right;
    margin-top: 10px;
  }
  .bevy-message-card h2 {
    font-size: 1.2em;
    color: #DA521E;
    display: block;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
  .bevy-message-card span.caption {
    display: inline-block;
    font-size: 0.75em;
    margin-right: 0.5em;
  }


</style>

<!-- <div ui-view></div> -->

<div id="main-container">
  
<!-- show indeed results on landing -->
  <!-- <div class="bevy-filter-list">
    Filter by job position: <br />
    <select ng-model="position" ng-options="position.name for position in filter_position"></select>
  </div> -->
  <div class="bevy-applicant-list">
    <h2>Applicants</h2>
    <div class="module" ng-init="getAllItems()">
      <div class="module text-center" ng-show="no_messages">
        No Messages
      </div> 
      <div ui-view></div>
    </div>
  </div>

  <div class="bevy-applicant-messages">
    <div class="module text-center" ng-show="no_messages">
      No Applicants yet.
    </div>
  </div>    
</div>
