<div ng-controller="UserSearchController">
  
  <div class="page-section">
    <form class="bevy-user-form" data-remote="true">
      <input type="text" name="job[search]" id="job_search" placeholder="Search All Jobs..." data-ng-model="search_term" />
      <button class="button" data-ng-click="searchUsers(true)">Search</button>
      <button class="button" data-ng-click="reset_form()">Reset</button>
    </form>
  </div>

  <div id="main-container">
    
  <!-- show indeed results on landing -->
    <div class="bevy-user-filter">
      <h2>Filters</h2>
      <div class="module" data-spy="affix" data-offset-top="150" data-offset-bottom="100">
        <!-- hide initially -->
        <div ng-show="jobs.q.length">
          <div class="heading">Sort</div>
          <select ng-model="jobs.sort">
            <option value="relevance">Relevance</option>
            <option value="date">Date</option>
          </select><br>
          <div class="heading">job referral</div>
          <select ng-model="jobs.siteType">
            <option value="jobsite">Jobsite</option>
            <option value="employer">Employer</option>
          </select>
          <br>
          <div class="heading">job type</div>
          <select ng-model="jobs.jobType">
            <option value="fulltime">Fulltime</option>
            <option value="parttime">Parttime</option>
            <option value="contract">Contract</option>
            <option value="internship">Internship</option>
            <option value="temporary">Temporary</option>
          </select>
           <br>
          <div class="heading">limit</div>
          <select ng-model="jobs.limit">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
          <br>
        </div>

        <div class="heading">country</div> 
          <select ng-model="jobs.country">
            <option value="us">United States</option>
            <option value="ar">Argentina</option>
            <option value="au">Australia</option>
            <option value="at">Austria</option>
            <option value="bh">Bahrain</option>
            <option value="be">Belgium</option>
            <option value="br">Brazil </option>
            <option value="ca">Canada </option>
            <option value="cl">Chile</option>
            <option value="cn">China</option>
            <option value="co">Colombia </option>
            <option value="cz">Czech Republic </option>
            <option value="dk">Denmark</option>
            <option value="fi">Finland</option>
            <option value="fr">France </option>
            <option value="de">Germany</option>
            <option value="gr">Greece </option>
            <option value="hk">Hong Kong</option>
            <option value="hu">Hungary</option>
            <option value="in" selected="selected">India</option>
            <option value="id">Indonesia</option>
            <option value="ie">Ireland</option>
            <option value="il">Israel </option>
            <option value="it">Italy</option>
            <option value="jp">Japan</option>
            <option value="kr">Korea</option>
            <option value="kw">Kuwait </option>
            <option value="lu">Luxembourg </option>
            <option value="my">Malaysia </option>
            <option value="mx">Mexico </option>
            <option value="nl">Netherlands</option>
            <option value="nz">New Zealand</option>
            <option value="no">Norway </option>
            <option value="om">Oman </option>
            <option value="pk">Pakistan </option>
            <option value="pe">Peru </option>
            <option value="ph">Philippines</option>
            <option value="pl">Poland </option>
            <option value="pt">Portugal </option>
            <option value="qa">Qatar</option>
            <option value="ro">Romania</option>
            <option value="ru">Russia </option>
            <option value="sa">Saudi Arabia </option>
            <option value="sg">Singapore</option>
            <option value="za">South Africa </option>
            <option value="es">Spain</option>
            <option value="se">Sweden </option>
            <option value="ch">Switzerland</option>
            <option value="tw">Taiwan </option>
            <option value="tr">Turkey </option>
            <option value="ae">United Arab Emirates </option>
            <option value="gb">United Kingdom </option>
            <option value="ve">Venezuela</option>
          </select>
          <br>
          <div class="heading">location</div>
          <input type="text" ng-model="jobs.location" />
          <br>
          <button class="button button-white" ng-click="searchJobs()">Apply</button>
        </div>
      </div>
    </div>

    <div class="bevy-user-search-content">
      <div ng-hide="no_search_term">
        <div ng-repeat="user in users">
          <div class="bevy-user-card page-section">
            <div class="photo">
              <img ng-src="{{user.photo}}">
            </div>

            <div class="module">
              <h2 ng-bind="user.name"></h2> 
              <div class="caption">                
                <i class="fa fa-birthday-cake"></i> <span ng-bind="user.age"></span>
                <i class="fa fa-briefcase"></i> <span ng-bind="user.status"></span><br />
                <i class="fa fa-globe"></i> <span ng-bind="user.location"></span>                
                <i class="fa fa-book"></i> <span ng-bind="user.course"></span><br />
                <i class="fa fa-graduation-cap"></i> <span ng-bind="user.graduation_year"></span>
              </div>
            
              <div class="caption">
                <i class="fa fa-user"></i> <span ng-bind="user.skills"></span><br />
                <i class="fa fa-book"></i> <span ng-bind="user.interests"></span><br />
                <i class="fa fa-graduation-cap"></i> <span ng-bind="user.experience"></span>
              </div>  
            </div>

            <div class="bevy-user-properties">              
              <a ng-href="#" class="button button_main" target="_blank"><i class="fa fa-check"></i> Resume</a><br />
              <select>
                <option>Web Developer</option> 
                <option>Software Engineer</option>
                <option>Data Analytics</option>
                <option>Marketing</option>
              </select><br />
              <a href="#" class="fa fa-star" style="color: #DA521E;"></a>
              <a href="#" class="fa fa-close" style="color: #DA521E;"></a>
              <a href="#" class="fa fa-check" style="color: #DA521E;"></a>
              <a href="#" class="fa fa-envelope" style="color: #DA521E;"></a>

            </div>

            <div class="body-desc">
              <p ng-bind="user.about"></p>  
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>

        <div ng-show="totalResults > 0" class="pagination">
          <a href="#" ng-show="currentPage!=1" ng-click="paginate(1)">&lt;&lt;</a>
          <a href="#" ng-show="currentPage!=1" ng-click="paginate(currentPage-1)">Prev</a>
          <a href="#" ng-show="currentPage!=1" ng-click="paginate(currentPage-1)" ng-bind="currentPage-1"></a>
          <a href="#" ng-bind="currentPage" class="active"></a>
          <a href="#" ng-show="currentPage!=totalPages" ng-click="paginate(currentPage+1)" ng-bind="currentPage+1"></a>
          <a href="#" ng-show="currentPage!=totalPages" ng-click="paginate(currentPage+1)">Next</a>
          <a href="#" ng-show="currentPage!=totalPages" ng-click="paginate(totalPages)">&gt;&gt;</a>
        </div>

        <div class="module text-center" ng-show="end_of_results">
          No results.
        </div>      
      </div>

      <div class="module text-center" ng-show="no_search_term">
        Enter a search term
      </div>

    </div>

    <div class="bevy-user-list">
      <h2>Lists</h2>
      <ul data-spy="affix" data-offset-top="150" data-offset-bottom="100">
        <li><a href="#" >Starred</a></li>
        <li><a href="#" >Ignored</a></li>
        <li><a href="#" >Accepted</a></li>
        <li><a href="#" >Messaged</a></li>
        <li><a href="#" >Add new list</a></li>
      </ul>
    </div>  
  </div>
  
</div>

<!-- Mixpanel page visit tracking -->
<script>
  // mixpanel.track('Viewed Jobs Index Page', 
  //   {
  //     organization: '<%= "#{@org.try(:name)}" %>' 
  //   })
</script>