<div class="bevy-user-card page-section">
  <div class="photo">
    <img ng-src="{{user.photo}}">
  </div>

  <div class="module">
    <h2 ng-bind="user.name"></h2> 
    <div class="caption">                
      <i class="fa fa-birthday-cake"></i> <span ng-bind="user.age"></span>
      <i class="fa fa-briefcase"></i> <span ng-bind="user.status"></span><br />
      <i class="fa fa-globe"></i> <span ng-bind="user.location"></span>                
      <i class="fa fa-book"></i> <span ng-bind="user.course"></span><br />
      <i class="fa fa-graduation-cap"></i> <span ng-bind="user.graduation_year"></span>
    </div>
  
    <div class="caption">
      <i class="fa fa-user"></i> <span ng-bind="user.skills"></span><br />
      <i class="fa fa-book"></i> <span ng-bind="user.interests"></span><br />
      <i class="fa fa-graduation-cap"></i> <span ng-bind="user.experience"></span>
    </div>  
  </div>

  <div class="bevy-user-properties">              
    <a ng-href="#" class="button button_main" target="_blank"><i class="fa fa-check"></i> Resume</a><br />
    <select>
      <option>Web Developer</option> 
      <option>Software Engineer</option>
      <option>Data Analytics</option>
      <option>Marketing</option>
    </select><br />
    <a href="#" class="fa fa-star" style="color: #DA521E;"></a>
    <a href="#" class="fa fa-close" style="color: #DA521E;"></a>
    <a href="#" class="fa fa-check" style="color: #DA521E;"></a>
    <a href="#" class="fa fa-envelope" style="color: #DA521E;"></a>

  </div>

  <div class="body-desc">
    <p ng-bind="user.about"></p>  
  </div>
  <div style="clear: both;"></div>
</div>